*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: "Figtree", sans-serif;
    color:#000;
    

  

}

body{
    background-color:hsl(47 88% 63%);
}
.container{
    max-width:384px;
    height:565px;
    background-color:white;
    border-radius:1.25rem;
    border:1px solid black;
   box-shadow:7px 7px 0px 0px black;
   padding:1.5rem;
   margin:3rem auto;
}
.image-frame{
    display:flex;
    justify-content:center;
    align-items:center;
}
.image-frame img{
    border-radius:0.75rem;
}

.preview-text-container{
    margin:1.5rem auto;
}
.yellow-bg{
   background-color:#F4D04E;
   padding:0.25rem 0.75rem;
   border-radius:4px;
   width:90px;
}
.published-date{
    font-size:12px;
    font-weight:500;
    margin-top:0.75rem;
    margin-bottom:1rem;
}
#card-title{
    font-weight:800;
    margin-top:0.7rem;
    margin-bottom:1rem;
}
a{
    color:inherit;
    text-decoration:none;
}
a:hover h2{
    color:hsl(47 88% 63%);
}
.card-description{
    font-size:16px;
    margin:0.25rem;
    line-height:1.6;
    color:#4f4f4f;
    margin-bottom:1.75rem;
}
.card-author-container{
margin:1.5rem auto;
display:flex;
align-items:center;
}
.card-author-container h4{
    margin:0.75rem;
    font-weight:800;
}
@media screen and (max-width: 500px) {
   .container{
    width: 90%;
    margin: 2rem auto;
  }
  .image-frame img{
    width:100%;
  }

}



