*{
    padding:0;
    margin:0;
    align-items: center;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    align-items:center;
}

nav>ul>li {
    width: 50%;
    max-width: 300px;
    height: 20px;
    display: flex;
    flex-wrap:wrap;
    align-items:center;
    margin:20px;
    padding-top:25px;
    color:rgb(191, 234, 0);
    cursor: pointer;  
}
nav a i {
    margin-right: 8px;
    /*color: rgb(23, 234, 0);  change icon color if you want */
  }

li>a{
    text-decoration:none;
    color:black;
}
a:hover{
    color:rgb(191, 234, 0)
}


  header{width: 100%;
    max-width:100%;
    height:auto;
  padding: 20px 100px;
  margin:50px 20px;
  border-radius: 10px;
  align-items: center;
}

img{
    width:200px;
    height:200px; /*width and height must be the same to get a circle*/
    border-radius:50%;/*ensures the image covers the full area without stretching.*/
    object-fit:cover;/*ensures the image covers the full area without stretching.*/
    /*animation-name: pulse;
    animation-duration:2s;/*defines how lond the pulse will last
    animation-iteration-count:infinite; */
}
@keyframes pulse{
    0%{transform:scale(1);}
    50%{transform:scale(1.1);}
    100%{transform:scale(1);}
}

.main-layout {
    display:grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    gap: 5px; /* space between header and grid */
    align-items: flex-start; /* aligns top edges */
    padding: 40px 20px;
    background-color:#0c90e9;
}
.grid-container {
        width: 50%;
        display: grid;
        grid-template-columns:2fr 2fr;
        gap: 50px;
        max-width:100%;  
        margin: 0;        /* centers the container */
        padding:0;         /* optional: adds space inside */
    
}

section{
    margin:15px 0;
    padding:15px;
    border-radius:20px;
    background-color:rgb(255, 255, 255);
    text-align:center;
}
.box-1 {
    width:50%;
    padding: 100px;                  /* space inside the box */
    margin:10px 10px 20px 10px;            /* space between boxes */
    border-radius: 5px;            /* smooth corners */
    box-shadow: 0 4px 8px rgba(230, 222, 222, 0.1);  /* soft shadow */
    align-items:center;
    word-wrap:break-word;
 }
 .box-2{
    width:20%;
    padding: 100px;                  /* space inside the box */
    margin:10px 5px 20px 10px;           /* space between boxes */
    border-radius: 10px;            /* smooth corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  /* soft shadow */
    align-items:center;
}
.box-3{
    width:50%;
    padding: 100px;                  /* space inside the box */
    margin:10px 5px 20px 10px;           /* space between boxes */
    border-radius: 10px;            /* smooth corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  /* soft shadow */
    align-items:center;
}

h2 {
    margin-bottom: 10px;

}

.box>li{
    list-style-type:circle;
}

footer{
    text-align: center;
    margin-top: 40px;
    font-size: 0.9em;
    color: #777;
}
