body{
    margin:10px 20px;
    padding:0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:fdfdfd;
    color:#333;
    line-height:1.6;
    box-sizing:border-box;
    border:1px solid black;
}
img{
    width:200px;
    height:200px; /*width and height must be the same to get a circle*/
    border-radius:50%;/*ensures the image covers the full area without stretching.*/
    object-fit:cover;/*ensures the image covers the full area without stretching.*/
    /*animation-name: pulse;
    animation-duration:2s;/*defines how lond the pulse will last
    animation-iteration-count:infinite; */}

   .container{
    display:flex;
    gap:30px;
   }
   .circle{
    display:flex;
    flex-direction:row;
    justify-content:center;
    gap:20px;

   }
   .circle-1{
    width:70px;
    height:70px;
    border-radius:50%; /* Makes it round */
    background-color:#b466df;
    display: flex;
    justify-content: center;  /* Horizontal centering */
    align-items: center;      /* Vertical centering */
    text-align: center;
    font-weight:bold;
   }
   .circle-2{
    width:70px;
    height:70px;
    border-radius:50%; /* Makes it round */
    background-color:#eebe00;
    display: flex;
    justify-content: center;  /* Horizontal centering */
    align-items: center;      /* Vertical centering */
    text-align: center;
    font-weight:bold;
    object-fit:cover;
   }
   .circle-3{
    width:70px;
    height:70px;
    border-radius:50%; /* Makes it round */
    background-color:#441939;
    display: flex;
    justify-content: center;  /* Horizontal centering */
    align-items: center;      /* Vertical centering */
    text-align: center;
    font-weight:bold;
   }
   .skills{
    color:white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   }

   .footer-container{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:20px;
    padding:15px;
    text-align:center;
   }
   .footer-container p, .footer-cvontainer a{
    margin:auto;
        text-decoration:none;
    }