body{
background-color:white;
color:black;
}

header>h1{
  color:rgb(141,194,21)
}



fieldset{
    border: rgb(240, 231, 231) solid;
    padding:0 2px;}

input[type="checkbox"] {
    vertical-align: center;
    margin-right: 2px; /* Adjust spacing */
  }

  .checkbox-list label{
    display: block; /* Makes each label appear on a new line like a list */
  margin-bottom: 8px; /* Adds spacing between items */
  }
    
  legend{
    color:rgb(141,194,21);
  }
 
.year,.institution,.course{
    display:flex;
    gap:10px;
    padding:10px;
}
textarea {
    width: 100%; /* Full width of the container */
    max-width: 600px; /* Adjust maximum width as needed */
    height: 150px; /* Adjust height */
    padding: 10px;
    font-size: 16px;
  }
 button{
    width:30%;
    background-color:rgb(173, 43, 7);
    color:white;
    border:none;
    border-radius:5px;
    padding:20px;
    font-size:2rem;;
    cursor: pointer; /* Show hand cursor on hover */
    display: block; /* Makes centering easier */
    margin: 40px auto; /* Centers horizontally */
}

    


